<!-- Panel Bottom #01 -->
<div class="hotline-phone-ring-wrap">
	<div class="hotline-phone-ring">
		<div class="hotline-phone-ring-circle"></div>
		<div class="hotline-phone-ring-circle-fill"></div>
		<div class="hotline-phone-ring-img-circle">
		<a href="tel:0866068861" class="pps-btn-img">
			<img src="https://nguyenhung.net/wp-content/uploads/2019/05/icon-call-nh.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot" width="50">
		</a>
		</div>
	</div>
	<div class="hotline-bar">
		<a href="tel:0866068861">
			<span class="text-hotline">0866.068.861</span>
		</a>
	</div>
</div>
<nav class="panel bottom forceMobileView">
    <div class="sections desktop">
        <div class="left"></div>
        <div class="center"><span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span></div>
        <div class="right">
            <a><img width="30" src="assets/img/background/fb.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"></a>
            <a><img width="30" src="assets/img/background/tw.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"></a>
            <a><img width="30" src="assets/img/background/lk.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"></a>
            <span data-dropdown-id="2" class="button actionButton dropdownTrigger"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share"></use></svg></span>
        </div>
    </div>
    <div class="sections compact hidden">
      <div class="right">
        <span data-dropdown-id="2" class="button actionButton dropdownTrigger"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share"></use></svg></span>
      </div>
    </div>
  </nav>
  
  <!-- Share Window -->
  <div class="dropdown share bottom right" data-dropdown-id="2" data-text="Take a look at this" data-url="https://tulpo.dev" data-pinterest-image="https://designmodo.com/wp-content/uploads/2015/10/Presentation.jpg">
    <div class="center padding-2">
      <div class="title">Liên Hệ</div>
    </div>
    <ul>
      <li class="social-facebook"><a target="_blank" href="https://www.facebook.com/tulpovietnam/"><img width="30" src="assets/img/background/fb.png"></a></li>
      <li class="social-twitter"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></li>
      <li class="social-googlePlus"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube"></use></svg></li>
      <li class="social-linkedin"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></li>
      <li class="mail" data-subject="Subject" data-body="Body">share by email</li>
    </ul>
  </div>
  
  <!-- Loading Progress Bar -->
  <div class="progress-bar blue"></div>
  
  </body>
  </html>