
<%- include("./layouts/header");-%>
<div class=" pick-slide">
    <ul class="menu">
        <li class="pick"><a href="#sl-1">1</a></li>
        <li class="pick"><a href="#sl-2">2</a></li>
        <li class="pick"><a href="#sl-3">3</a></li>
        <li class="pick"><a href="#sl-4">4</a></li>
        <li class="pick"><a href="#sl-5">5</a></li>
        <li class="pick"><a href="#sl-6">6</a></li>
        <li class="pick"><a href="#sl-7">7</a></li>
      </ul>
</div>
<!-- Slide 1 (#34) -->
<section class="slide fade-6 kenBurns" data-name="sl-1">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-12-12">
          <ul class="flex fixedSpaces verticalCenter reverse">
            <li class="col-12-12 middle middle">
              <h1 class="ae-1 fromLeft">Quy Trình Hình Thành</h1>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-34.jpg)"></div>
</section>

<!-- Slide 2 (#60) -->
<section class="slide fade-6 kenBurns" data-name="sl-2">
  <div class="content">
    <div class="container">
      <div class="wrap">
          
        <div class="fix-12-12">
          <ul class="grid">
            <li class="col-6-12">
                <img class="ae-4" width="600"  src="assets/img/about/about-1.png" alt="Tulpo, phần mềm, lập trình" data-action="zoom"/>
            </li>
            <li class="col-6-12 left" style="margin-top: 100px;">
              <h1 class="ae-2 fromLeft" style="font-weight: bold;">2015</h1>
              <p class="ae-3 fromLeft" style="padding: 10px;
              border: solid 1px;
              border-radius: 10px;
              background: #02676347;"><span class="opacity-8">Trải qua quá trình học tập và nghiên cứu, bắt đầu những sản phẩm đầu tiên bằng ngôn ngữ lập trình JavaScript, CSS & HTML , Solidity.</span></p>
            </li>
            
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-26.jpg)"></div>
</section>

<!-- Slide 3 (#60) -->
<section class="slide fade-6 kenBurns" data-name="sl-3">
  <div class="content">
    <div class="container">
      <div class="wrap">
          
        <div class="fix-12-12">
          <ul class="grid">
            <li class="col-6-12 left" style="margin-top: 100px;">
              <h1 class="ae-2 fromLeft" style="font-weight: bold;">2016</h1>
              <p class="ae-3 fromLeft" style="padding: 10px;
              border: solid 1px;
              border-radius: 10px;
              background: #02676347;"><span class="opacity-8">Bắt đầu mở rộng sang Blockchain và xây dựng các sản phẩm như : Exchange, Wallet, Blockchain Platform, Dapp, Payment.</span></p>
            </li>
            <li class="col-6-12">
                <img class="ae-4" width="600"  src="assets/img/about/about-2.png" alt="Tulpo, phần mềm, lập trình" data-action="zoom"/>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-27.jpg)"></div>
</section>

<!-- Slide 4 (#60) -->
<section class="slide fade-6 kenBurns" data-name="sl-4">
    <div class="content">
      <div class="container">
        <div class="wrap">
            
          <div class="fix-12-12">
            <ul class="grid">
              <li class="col-6-12">
                  <img class="ae-4" width="600"  src="assets/img/about/about-3.png" alt="Tulpo, phần mềm, lập trình" data-action="zoom"/>
              </li>
              <li class="col-6-12 left" style="margin-top: 100px;">
                <h1 class="ae-2 fromLeft" style="font-weight: bold;">2017</h1>
                <p class="ae-3 fromLeft" style="padding: 10px;
                border: solid 1px;
                border-radius: 10px;
                background: #02676347;"><span class="opacity-8">Thiết kế hạ tầng với các ngôn ngữ và công nghệ mới : Hyperledger, Microservice, Rust, Go.</span></p>
              </li>
              
            </ul>
          </div>
          
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-60.jpg)"></div>
  </section>

  <!-- Slide 5 (#60) -->
<section class="slide fade-6 kenBurns" data-name="sl-5">
    <div class="content">
      <div class="container">
        <div class="wrap">
            
          <div class="fix-12-12">
            <ul class="grid">
              <li class="col-6-12 left" style="margin-top: 100px;">
                <h1 class="ae-2 fromLeft" style="font-weight: bold;">2018</h1>
                <p class="ae-3 fromLeft" style="padding: 10px;
                border: solid 1px;
                border-radius: 10px;
                background: #02676347;"><span class="opacity-8">Đóng gói và phát triển các sản phẩm chủ chốt như: Sàn giao dịch kỹ thuật số, Ví điện tử, Ứng dụng phi tập trung, Các cổng thanh toán tiền điện tử, Market Maker, Network Marketing, Blockchain Platform, chỉ báo Forex, Crypto,…</span></p>
              </li>
              <li class="col-6-12">
                  <img class="ae-4" width="600"  src="assets/img/about/about-4.png" alt="Tulpo, phần mềm, lập trình" data-action="zoom"/>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-83.jpg)"></div>
  </section>

  <!-- Slide 6 (#60) -->
<section class="slide fade-6 kenBurns" data-name="sl-6">
    <div class="content">
      <div class="container">
        <div class="wrap">
            
          <div class="fix-12-12">
            <ul class="grid">
              <li class="col-6-12">
                  <img class="ae-4" width="600"  src="assets/img/about/about-5.png" alt="Tulpo, phần mềm, lập trình" data-action="zoom"/>
              </li>
              <li class="col-6-12 left" style="margin-top: 100px;">
                <h1 class="ae-2 fromLeft" style="font-weight: bold;">2019</h1>
                <p class="ae-3 fromLeft" style="padding: 10px;
                border: solid 1px;
                border-radius: 10px;
                background: #02676347;"><span class="opacity-8">Tập trung xây dựng các công nghệ vào 2 thị trường chính : Cryptocurrency in Blockchain, Forex.</span></p>
              </li>
              
            </ul>
          </div>
          
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-91.jpg)"></div>
  </section>

  <!-- Slide 7 (#34) -->
<section class="slide fade-6 kenBurns" data-name="sl-7">
    <div class="content">
      <div class="container">
        <div class="wrap">
        
          <div class="fix-12-12">
            <ul class="flex fixedSpaces verticalCenter reverse">
              <li class="col-12-12 middle middle">
                <h1 class="ae-1 fromLeft">SỨ MỆNH 2020</h1>
                <p>Top 3 doanh nghiệp lớn nhất cung cấp dịch vụ thiết kế nền tảng blockchain và chatbot lớn nhất Việt Nam</p>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-95.jpg)"></div>
  </section>

<%- include("./layouts/footer");-%>