
<%- include("./layouts/header");-%>
<div class="pick-slide">
    <ul class="menu">
        <li class="pick"><a href="#sl-1">1</a></li>
        <li class="pick"><a href="#sl-2">2</a></li>
        <li class="pick"><a href="#sl-3">3</a></li>
        <li class="pick"><a href="#sl-4">4</a></li>
        <li class="pick"><a href="#sl-5">5</a></li>
        <li class="pick"><a href="#sl-6">6</a></li>
        <li class="pick"><a href="#sl-7">7</a></li>
      </ul>
</div>
<!-- Slide 1 (#34) -->
<section class="slide fade-6 kenBurns" data-name="sl-1">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-12-12">
          <ul class="flex fixedSpaces verticalCenter reverse">
            <li class=" ae-1 fromLeft col-6-12 left middle">
              <h1 style="font-weight: bold;" class="ae-2 fromLeft">TulPo – Phát triển phần mềm</h1>
              <p class="ae-3 fromLeft"><span class="dot"></span><span>Bot, chatbot trong nhiều lĩnh vực.</span></p>
              <p class="ae-4 fromLeft"><span class="dot"></span><span>Ứng dụng Blockchain và các sản phẩm như : Exchange, Wallet, Cổng thanh toán, Network, Market Maker, Smart Contract...</span></p>
              <p class="ae-5 fromLeft"><span class="dot"></span><span>Xây dựng chuyên nghiệp trên các nền tảng : Website, App, Dapp, BOT/Tool,…</span></p>
              <a class="button blue ae-5 fromCenter" href="/price">Liên Hệ</a>
            </li>
            <li class="col-6-12">
              <img class="ae-4" width="605" src="assets/img/home/top.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot" data-action="zoom"/>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-34.jpg)"></div>
</section>

<!-- Slide 2 (#60) -->
<section class="slide fade-6 kenBurns" data-name="sl-2">
  <div class="content">
    <div class="container">
      <div class="wrap">
          
        <div class="fix-12-12">
            <ul class="grid">
              
              <li class="col-5-12 left" style="margin-top: 100px;">
                <div class="ae-1 fromLeft hr-top" style="width: 105px;
                    height: 3px;
                    margin-bottom: 24px;
                    background-color: #ffffff;"></div>
                <h1 style="font-weight: bold;" class="ae-2 fromLeft">Đôi nét về chúng tôi</h1>
                <p class="ae-3 fromLeft"><span>Chúng tôi có trên 4 năm kinh nghiệm nghiên cứu và phát triển Bot, Chatbot , nền tảng Blockchain với các giao diện sản phẩm đa dạng Website, App, Dapp... Cùng đội ngũ giàu kinh nghiệm và xuất sắc về tư duy đổi mới sáng tạo chúng tôi tự tin có thể làm hài lòng mỗi khách hàng.</span></p>
              </li>
              <li class="col-7-12">
                <img class="ae-4" width="800"  src="assets/img/home/about-t.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot" data-action="zoom"/>
            </li>
              
            </ul>
          </div>
        
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-60.jpg)"></div>
</section>

<!-- Slide 3 (#27) -->
<section class="slide fade-6 kenBurns" data-name="sl-3">
  <div class="content">
    <div class="container">
      <div class="wrap">
        
        <div class="fix-12-12">
          <ul class="flex verticalCenter">
            <li class="col-5-12 cell-27">
              <div class="fix-4-12">
                <ul class="slider clickable ae-1 fromAbove" data-slider-id="27-2">
                    <li class="selected">
                        <img width="250" src="assets/img/home/3.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"/>
                        <h3>CHATBOT/BOT</h3>
                        <p>Chatbot chăm sóc khách hàng<br>
                          Chatbot chiến dịch PR<br>
                          Bot thanh toán tự động<br>
                          Nền tảng Telegram, Mesenger, Discord, Wechat.</p>
                    </li>
                    <li>
                        <img width="250" src="assets/img/home/4.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"/>
                        <h3>TOOL</h3>
                        <p>Tool chỉ báo<br>
                          Tool đặt lệnh tự động<br>
                          Tool check user<br>
                          Tool phân tích.<br><br>
                        </p>
                    </li>
                    <li>
                        <img width="250" src="assets/img/home/5.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"/>
                        <h3>BLOCKCHAIN PLATFORM</h3>
                        <p>Dịch vụ tài chính<br>
                          Bảo hiểm<br>
                          Truy xuất nguồn gốc<br>
                          Bất động sản<br>
                          Smart Contract</p>
                    </li>
                    <li>
                        <img width="250" src="assets/img/home/6.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"/>
                        <h3>MARKET MAKER</h3>
                        <p>Bot phân tích<br>
                          Bot tăng Volume<br>
                          Bot tự động đặt lệnh<br>
                          Bot kiểm soát quá trình<br><br>
                        </p>
                    </li>
                    <li>
                        <img width="250" src="assets/img/home/7.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"/>
                        <h3>CỔNG THANH TOÁN</h3>
                        <p>Visa/ Master Card<br>
                          Ví điện tử<br>
                          BTC/ETH/EOS<br><br><br>
                        </p>
                    </li>
                    <li>
                        <img width="250" src="assets/img/home/8.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"/>
                        <h3>SÀN GIAO DỊCH</h3>
                        <p>Sàn tập trung<br>
                          Sàn phi tập trung<br>
                          Stable Coin<br>
                          Content<br><br>
                        </p>
                    </li>
                    <li>
                        <img width="250" src="assets/img/home/9.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"/>
                        <h3>VÍ TIỀN ĐIỆN TỬ</h3>
                        <p>
                          Ví phi tập trung<br>
                          Công nghệ Multisignature<br>
                          Swap<br>
                          Ví nóng, ví lạnh<br><br>
                        </p>
                    </li>
                    <li>
                        <img width="250" src="assets/img/home/10.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"/>
                        <h3>WEBSITE ĐA TẦNG</h3>
                        <p>Dịch vụ tài chính<br>
                          Bán hàng trực tuyến<br>
                          Quản lý người dùng<br>
                          Thanh toán tự động<br><br>
                        </p>
                    </li>
                    <li>
                        <img width="250" src="assets/img/home/11.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"/>
                        <h3>BOUNTY/AIRDROP</h3>
                        <p>Xây dựng nội dung<br>Các bot tự động hóa<br>lan tỏa chiến dịch<br>Quản lý user<br><br></p>
                    </li>
                </ul>
                <ul class="controller dots ae-2 fromCenter margin-top-3" data-slider-id="27-2">
                  <li class="dot selected"></li>
                  <li class="dot"></li>
                  <li class="dot"></li>
                  <li class="dot"></li>
                  <li class="dot"></li>
                  <li class="dot"></li>
                  <li class="dot"></li>
                  <li class="dot"></li>
                  <li class="dot"></li>
                </ul>
              </div>
            </li>
            <li class="col-7-12 left">
                <div class="ae-1 fromRight hr-top" style="width: 105px;
                    height: 3px;
                    margin-bottom: 24px;
                    background-color: #ffffff;"></div>
                <h1 style="font-weight: bold;" class="ae-2 fromRight">Dịch Vụ</h1>
                <div class="ae-3 fromRight">
                    <p class="opacity-8">Nhằm đáp ứng nhu cầu thị trường, từ đầu năm 2019, Tulpo đã đẩy mạnh thêm các loại hình dịch vụ khác.</p>
                </div>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-27.jpg)"></div>
</section>

<!-- Slide 4 (#26) -->
<section class="slide fade-6 kenBurns" data-name="sl-4">
  <div class="content">
    <div class="container">
      <div class="wrap">
        
        <div class="fix-12-12">
            <ul class="grid">
                <li class="col-6-12 left">
                    <div class="ae-1 fromLeft hr-top" style="width: 105px;
                    height: 3px;
                    margin-bottom: 24px;
                    background-color: #ffffff;"></div>
                    <h1 style="font-weight: bold;" class="ae-2 fromLeft">Tầm nhìn</h1>
                    <div class="ae-2 fromLeft" style="box-shadow: 1px 2px 2px 2px;border-radius: 13px;border: 1px transparent solid;padding: 12px;">
                        <div class="ae-3 fromLeft"style="padding: 17px;font-size: 19px;border: 2px dashed #a49999;border-radius: 11px;">
                            <h3 class="ae-4 fromLeft">Số 1 về Blockchain & Bot tại Việt Nam</h3>
                            <p class="ae-5 fromLeft"><span class="opacity-8">TulPo tập trung đẩy mạnh chất lượng đội ngũ nhân sự và chuyên nghiệp trong công việc . Tất cả đều hướng tới những sản phẩm chất lượng cho khách hàng và một quốc gia công nghệ tiên tiến vững mạnh.</span></p>    
                        </div>
                    </div>    
                </li>
                <li class="col-6-12">
                    <img class="ae-4" width="600"  src="assets/img/home/vission.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot" data-action="zoom"/>
                </li>
            </ul>
        </div>
        <div class="fix-12-12" style="margin-top: 100px">
            <ul class="grid">
                <li class="col-6-12">
                    <img class="ae-4" width="600"  src="assets/img/home/team-home.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot" data-action="zoom"/>
                </li>
                <li class="col-6-12 left">
                    <div class="ae-1 fromRight hr-top" style="width: 105px;
                    height: 3px;
                    margin-bottom: 24px;
                    background-color: #ffffff;"></div>
                    <h1 style="font-weight: bold;" class="ae-2 fromRight">Đội Ngũ</h1>
                    <h3 class="ae-3 fromRight" style="padding-bottom: 11px;border-bottom: 2px dashed #bfb2b2;">Chuyên Nghiệp - Tự Tin – Sáng Tạo</h3>
                    <p class="ae-3 fromRight"><span class="opacity-8">Với đội ngũ lập trình viên trẻ nhiều sáng tạo, chúng tôi luôn có những chương trình đào tạo định kỳ để nâng cao chất lượng đội ngũ của công ty. Ngoài ra sẽ mở rộng thực hành nhiều sản phẩm ứng dụng vào thực tế để mở rộng chuyên môn.</span></p>
                </li>
                
            </ul>
        </div>
        
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-26.jpg)"></div>
</section>

<!-- Slide 5 (#91) -->
<section class="slide fade-6 kenBurns" data-name="sl-5">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-12-12 toCenter">
            <ul class="grid">
                <li class="col-7-12">
                    <img class="ae-4" width="800"  src="assets/img/home/tulpo-great.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot" data-action="zoom"/>
                </li>
                <li class="col-5-12 left" style="margin-top: 100px;">
                    <div class="ae-1 fromRight hr-top" style="width: 105px;
                    height: 3px;
                    margin-bottom: 24px;
                    background-color: #ffffff;"></div>
                    <h1 style="font-weight: bold;" class="ae-2 fromRight">TulPo Việt Nam</h1>
                    <h3 class="ae-3 fromRight">Chuyên nghiệp – Tự tin – Sáng tạo</h3>
                    <p class="ae-4 fromRight"><span class="opacity-8">Tập trung xây dựng các công nghệ vào 2 thị trường chính : Cryptocurrency in Blockchain, Forex.</span></p>
                </li>
                
            </ul>
          <ul class="grid fixedSpaces left margin-top-10">
            <li class="col-4-12 col-tablet-1-2 col-phablet-1-1 ae-4 center" style=" margin: 20px 0px; padding: 10px;">
                <img class="ae-3 center" width="100px" src="assets/img/home/tick-1.png">
                <h3>BẢO MẬT TUYỆT ĐỐ</h3>
                <p class="tiny opacity-6">Chúng tôi tôn trọng quyền riêng tư của khách hàng khi xây dựng sản phẩm. Mọi thông tin về sản phẩm khách hàng không muốn công khai đều cam kết bảo mật 100%</p>
            </li>
            <li class="col-4-12 col-tablet-1-2 col-phablet-1-1 ae-5 center" style="margin: 20px 0px; padding: 10px;">
                <img class="ae-3 center" width="100px" src="assets/img/home/tick-2.png">                
                <h3>CHẤT LƯỢNG HÀNG ĐẦU</h3>
             <p class="tiny opacity-6">Chất lượng luôn là vấn đề TulPo đặt lên hàng đầu. Sự nhiệt huyết và đam mê trong công việc của đội ngũ đã và đang tạo nên những sản phẩm với chất lượng vượt mong đợi.</p>
            </li>
            <li class="col-4-12 col-tablet-1-2 col-phablet-1-1 ae-6 center" style="margin: 20px 0px; padding: 10px;">
                <img class="ae-3 center" width="100px" src="assets/img/home/tick-3.png">             
                <h3>CHI PHÍ HỢP LÝ</h3>
             <p class="tiny opacity-6">Thị trường Blockchain và Chatbot rất tiềm năng trong tương lai và nguồn nhân lực đang rất hạn hẹp, nhưng để phổ cập công nghệ mới cho cộng đồng chúng tôi cam kết chi phí vô cùng hợp lý.</p>
            </li>
          </ul>
        </div>
                
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-91.jpg)"></div>
</section>

<!-- Slide 6 (#83) -->
<section class="slide fade-6 kenBurns" data-name="sl-6">
  <div class="content">
    <div class="container">
        <div class="wrap">
        
            <div class="fix-12-12">
                <ul class="flex reverse verticalCenter">
                    
                    <li class="col-6-12">
                        <div class="fix-4-12 center">
                        <ul class="slider clickable ae-1 fromAbove" data-slider-id="26-3">
                            <li class="selected">
                                <img width="100" style="border:solid 2px white;border-radius: 999px;" src="assets/img/home/dung.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"/>
                                <h3>-Đặng Mạnh Dũng-</h3>
                                <p style="background: #001642;padding: 10px;font-size: 18px;border-radius: 10px;">"Đã hợp tác với TulPo 3 lần. Có một điều mình cảm
                                    thấy khá hài lòng đó là sự nhiệt tình và tư duy sáng
                                    tạo, tư vấn làm và nâng cấp sản phẩm rất logic. Hứa
                                    hẹn sẽ hợp tác nhiều trong tương lai."</p>
                            </li>
                            <li>
                                <img width="100" style="border:solid 2px white;border-radius: 999px;" src="assets/img/home/hoang.png" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"/>
                                <h3>-Nguyễn Hoàng-</h3>
                                <p style="background: #001642;padding: 10px;font-size: 18px;border-radius: 10px;">"Chưa biết tương lai TulPo mở rộng phát triển sang
                                    mảng nào nữa không. Mình rất muốn mọi thứ công
                                    nghệ bên mình do bên TulPo đảm nhiệm vì qua
                                    những lần hợp tác thì thấy TulPo rất chuyên nghiệp."</p>
                            </li>
                            <li>
                                <img width="100" style="border:solid 2px white;border-radius: 999px;" src="assets/img/home/tung.jpg" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"/>
                                <h3>-Trần Thanh Tùng-</h3>
                                <p style="background: #001642;padding: 10px;font-size: 18px;border-radius: 10px;">"Tôi là CEO của một công ty công nghệ gia công mảng
                                    Web/App. Và TulPo là đối tác của chúng tôi trong
                                    mảng Blockchain và Bot. TulPo là một đột ngũ rất
                                    sáng tạo trong công việc."</p>
                            </li>
                        </ul>
                        <ul class="controller dots ae-3 fromCenter margin-top-3" data-slider-id="26-3">
                            <li class="dot selected"></li>
                            <li class="dot"></li>
                            <li class="dot"></li>
                        </ul>
                        </div>
                    </li>
                    <li class="col-6-12 left cell-26">
                        <div class="ae-1 fromRight hr-top" style="width: 105px;
                        height: 3px;
                        margin-bottom: 24px;
                        background-color: #ffffff;"></div>
                        <h1 class="ae-1 fromRight" style="font-weight: bold;">Đối Tác</h1>
                        <div class="ae-2 fromRight">
                        <p class="opacity-8">Tulpo đã nhận được rất nhiều phản hồi và nhận xét tích cực từ các đối tác.</p>
                        </div>
                        <div class="relative">
                            <img width="600" src="assets/img/home/c.png" class="ae-3 fromRight" alt="Tulpo, lập trình phần mềm, blockchain, ai, bot"/>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/bg-12.png)"></div>
</section>

<!-- Slide 7 (#95) -->
<section class="slide fade-6 kenBurns" data-name="sl-7">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-6-12">
          <h2 class="huge ae-1 margin-bottom-2">CÔNG TY TNHH GIẢI PHÁP PHẦN MỀM</h2>
          <h1 style="font-weight: bold;" class="huge ae-2 margin-bottom-2">TULPO</h1>
          <p class="hero ae-2 margin-bottom-3 align-left"><span class="opacity-8"><strong>Email:</strong> info@tulpo.vn / tulpovn@gmail.com</span></p>
          <p class="hero ae-2 margin-bottom-3 align-left"><span class="opacity-8"><strong>Địa chỉ:</strong> 129 Thanh Liệt, Thanh Trì , Hà Nội</span></p>
          <p class="hero ae-2 margin-bottom-3 align-left"><span class="opacity-8"><strong>Liên hệ:</strong><br>
            Nhân sự - 0968.239.503<br>
            Kỹ thuật - 0866.068.861</span></p>

          <form action="#" autocomplete="off" class="slides-form margin-bottom-3">
            <input type="email" class="ae-3" name="email" placeholder="E-mail address"/>
            <button type="submit" class="button blue gradient ae-4" name="submit">Try it free</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-95.jpg)"></div>
</section>

<%- include("./layouts/footer");-%>
