
<%- include("./layouts/header");-%>


<!-- Slide 2 (#60) -->
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-12-12">
            <ul class="flex fixedSpaces verticalCenter reverse">
              <li class="col-12-12 middle middle">
                <h1 class="ae-1 fromLeft">Quy trình làm việc</h1>
                <p class="ae-2 fromLeft"><span class="opacity-8">Để công việc được thực hiện một cách khoa học và hiệu quả. Tulpo hợp tác với khách hàng trên quy trình tiêu chuẩn, chuyên nghiệp</span></p>
              </li>
            </ul>
          </div>
        <div class="fix-12-12 ae-2" style="background: white;">
          <ul class="grid">
            <li class="col-12-12" style="margin-top: 50px;">
                <img class="ae-4" width="800" src="assets/img/process/workflow.jpg" alt="iPhones Thumbnail" data-action="zoom"/>
              </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-60.jpg)"></div>
</section>

<%- include("./layouts/footer");-%>
